<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>

<body>
    <form action={% url "tracker:signup" %} method="POST">
        {% csrf_token %}
        {% comment %} signup form  {% endcomment %}
        <legend><h1>Signup</h1></legend>
        <label for="user">Username<superscript>*</superscript></label>
        <input type="text" name="username" id="user"><br>
        <label for="email">Email<superscript>*</superscript></label>
        <input type="text" name="email" id="email"><br>
        <label for="pass"> Passsword<superscript>*</superscript></label>
        <input type="password" name="password" id="pass">
        <input type="submit" name="Signup">
    </form>
    {% comment %} url for login  {% endcomment %}
    <p>Already have an account? <a href={%url "tracker:login"%}>Login</a></p>
</body>

</html>

